/* 
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
main{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
}
body{
	background-color:#f0f2f5;
}
.main_design{
	display:flex;
	width:100%;
	justify-content:center;
}
.main_design .content{
	width:500px;
	margin:50px;
}
.main_design .content .left{
	height:106px;
	width:300px;
	margin:-27px;
}
.main_design .content p{
	font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
	padding:20px 0;
}
.main_design .login{
	background-color:white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width:400px;
	height:350px;
	padding-bottom: 24px;
    padding-top: 10px;
	border-radius:10px;
}
.main_design .login input, .main_design .login button{
	width:92%;
	margin:10px;
	padding: 14px  16px;
	border:1px solid lightgray;
	border-radius:10px;
	
}
.main_design .login button{
	font-size:20px;
	text-decoration:bold;
}
.main_design .login .log_in{
	background-color:#1877f2;
}
.main_design .login .signup{
	background-color:#42b72a;
}
.main_design .login .forgot{
	width:100%;
	margin:16px 25%;
	font-size:20px;
	text-decoration:none;
	color:blue;
}


 */

.facebook{
	display:flex;
	justify-content:space-around;
	align-items:center;
	background-color:white;
	width:700px;
	height:300px;
	padding:10px;
	
}
.Logo {
	text-align:center;
}
img{
	width:200px;
}
.left {
	flex:2;
}
.card{
	flex:2;
}
form{
	display:flex;
	flex-direction:column;
	border:1px solid white;
	background-color:white;
	box-shadow:2px 2px 4px black;
	padding:8px;
	justify-content:space-around;
	width:300px;
	height:300px;
}
input{
	padding:5px;
}
 h1{
	color:#1877f2;
	font-size:40px;
	margin-bottom:0px;
}
.Log-in{
	background-color:#1877f2;
	border:none;
	padding:10px;
	color:white;
	border-radius:6px;
}
.card div{
	color:#1877f2;
	text-align:center;
}
.horizantal-line{
	border:1px solid grey;
	
}
.signup {
	background-color:#42B72A;
	border: none;
    border-radius: 6px;
    font-size: 17px;
	padding:10px;
	color:white;
	width:fit-content;
	margin:0 auto;
	cursor:pointer;
}
a{
	text-decoration:none;
	text-align:center;
}
.signup a{
	color:white;
}