/*  your css code here. If applicable */
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
main{
	width:100vw;
	height:100vh;
	display:flex;
	align-items:center;
}
body{
	background-color:#f0f2f5;
}
.main_design{
	display:flex;
	width:100%;
	justify-content:center;
}
.main_design .content{
	width:500px;
	margin:50px;
}
.main_design .content .left{
	height:106px;
	width:300px;
	margin:-27px;
}
.main_design .content p{
	font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
	padding:20px 0;
}
.main_design .login{
	background-color:white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width:400px;
	height:350px;
	padding-bottom: 24px;
    padding-top: 10px;
	border-radius:10px;
}
.main_design .login input, .main_design .login button{
	width:92%;
	margin:10px;
	padding: 14px  16px;
	border:1px solid lightgray;
	border-radius:10px;
	
}
.main_design .login button{
	font-size:20px;
	text-decoration:bold;
}
.main_design .login .log_in{
	background-color:#1877f2;
}
.main_design .login .signup{
	background-color:#42b72a;
}
.main_design .login .forgot{
	width:100%;
	margin:16px 25%;
	font-size:20px;
	text-decoration:none;
	color:blue;
}


